*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
    font-family: agentOrange;
    src: url(AGENTORANGE.TTF);
    font-weight: bold;
}
.container{
  /*min-height: 10em;*/
  position: relative;
  margin-left: auto;;
  margin-right: auto;
  width: 700px;
  height: 600px;
  border: 1px solid #006600;
  font-family: agentOrange;
}
.container3{
  position: absolute;
  display: table-cell;
  align-content: center;
  margin-left: 25px;
  margin-right: auto;
}
.thumbnail
{
  float: left;;
  height:240px;
  width: 150px;
  margin-right: 15px;
  font-size: 12px
}
img{
  height:150px;
  width:150px;
}
p{
  text-align: center;
}
.clearboth {
  clear: both;;
}
#mainHeader{
  color: #ccffcc;
  background-color: #006600;
  margin-top: 0px;
padding-left: 15px;
}
#secondaryHeader{
  color: #006600;
  padding-left: 15px
}
